a:visited{
    color: violet;

}
a:hover{
    color:green;
}
ul{
    font-size: 12px;
    font-weight: 700;
    line-height: 52px;
    
}
a{
    display: inline-block;
    line-height: 52px;
    font-family: Arial, Helvetica, sans-serif;
    color:#04b2f7;
    font-weight: 700;
    text-align: left;
}
